<style>
    .center {
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        text-align: left;
    }
    .not-bullet {
        list-style-type: none;        
    }   
    .question {
        font-weight: bold;
        color: #737373;
    }
</style>
<button ng-click="fakeResult()"></button>
<div ng-show="!ReadyToLoad">
    <img src="../../Content/themes/base/images/loading.gif" />
</div>
<div ng-init="getQuestionnaires()" class="center">
    <wizard on-finish="finishedWizard()" ng-show="ReadyToLoad && !QuestionnaireFinished">
        <wz-step title="">
            <div class="panel panel-default">
                <div class="panel-heading">Questionario GenoTest</div>
                <div class="panel-body" style="padding-left: 25px;">                    
                    <div class="row">                        
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Sei già nostro cliente?</legend>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="tbUsername">UserName</label><br />
                                        <input id="tbUsername" style="width:300px;" class="form-control" type="text" ng-model="PersonQuestionnaireToFill.Person.UserName" />
                                    </div>
                                </form>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="tbPassword">Password</label><br />
                                        <input id="tbPassword" style="width:300px;" class="form-control" type="password" ng-model="PersonQuestionnaireToFill.Person.Password" />
                                    </div>
                                </form>   
                                <label style="color:Red;">{{PersonLoginErrorText}}</label>                                 
                                <br />
                                <br />
                                <input class="btn btn-success btn-lg" type="submit" value="Login" style="margin:0 auto;" ng-click="validateLogin(PersonQuestionnaireToFill.Person)" />
                                <input class="btn btn-primary btn-lg" type="submit" value="Non sono vostro cliente" style="margin:0 auto;" ng-click="continueWithoutLogin()" />
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </wz-step>
        
        <wz-step title="">
            <div class="panel panel-default">
                <div class="panel-heading">Questionario GenoTest</div>
                <div class="panel-body" style="padding-left: 25px;">

                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <legend>Generalità</legend>

                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="tbFirstName">Nome</label><br />
                                        <input id="tbFirstName" style="width:200px;" class="form-control" type="text" ng-model="PersonQuestionnaireToFill.Person.FirstName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="tbLastName">Cognome</label><br />
                                        <input id="tbLastName" style="width:190px;" class="form-control" type="text" ng-model="PersonQuestionnaireToFill.Person.LastName" />
                                    </div>
                                    <div class="form-group">
                                        <label for="cbGender">Sesso <a style="color:Red">*</a></label><br />
                                        <select id="cbGender" class="form-control" ng-options="gender.id as gender.label for gender in Genders" ng-model="PersonQuestionnaireToFill.Person.Gender" />
                                    </div>
                                </form>
                                <br />
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="tbCity">Città di Residenza</label><br />
                                        <input id="tbCity" class="form-control" type="text" ng-model="PersonQuestionnaireToFill.Person.City" />
                                    </div>
                                    <div class="form-group">
                                        <label for="tbAddress">Indirizzo</label><br />
                                        <input style="width:310px;" id="tbAddress" class="form-control" type="text" ng-model="PersonQuestionnaireToFill.Person.Address" />
                                    </div>
                                </form>
                                <br />
                                <form class="form-inline">
                                    <div class="form-group" style="width:200px;">
                                        <label for="tbBirthDate">Data di nascita<a style="color:Red">*</a></label>
                                        <input type="date" id="exampleInput" name="input" ng-model="PersonQuestionnaireToFill.Person.BirthDate" placeholder="yyyy-MM-dd" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="tbBirthCity">Città di nascita</label><br />
                                        <input style="width:305px;" id="tbBirthCity" class="form-control" type="text" ng-model="PersonQuestionnaireToFill.Person.BirthCity" />
                                    </div>
                                </form>
                                <br />
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="tbPhoneNumber">Numero di telefono</label><br />
                                        <input id="tbPhoneNumber" class="form-control" type="text" ng-model="PersonQuestionnaireToFill.Person.PhoneNumber" />
                                    </div>
                                    <div class="form-group">
                                        <label for="tbEmail">Email <a style="color:Red">*</a></label><br />
                                        <input style="width:310px;" id="tbEmail" class="form-control" type="text" ng-model="PersonQuestionnaireToFill.Person.Email" />
                                    </div>
                                </form>
                                <br />
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="tbPersonalDoctor">Medico curante</label><br />
                                        <input style="width:510px;" id="tbPersonalDoctor" class="form-control" type="text" ng-model="PersonQuestionnaireToFill.Person.PersonalDoctor" />
                                    </div>
                                </form>
                                <br />
                                <input type="checkbox" ng-model="PersonQuestionnaireToFill.Person.PrivacyLawAgree"> Acconsenso al trattamento dei dati personali ai sensi dell'Art. 13 D.lgs. 196/2003                                
                                <br />
                                <label style="color:Red;">{{PersonErrorText}}</label>
                                <br />
                                <br />                                
                                <input class="btn btn-primary btn-lg" type="submit" value="Continua" style="margin:0 auto;" ng-click="validatePerson(PersonQuestionnaireToFill.Person)" />

                            </fieldset>
                        </div>                        
                    </div>
                </div>
            </div>
        </wz-step>

        <wz-step ng-repeat-start="category in PersonQuestionnaireToFill.QuestionsCategories">
            <div class="panel panel-default">
                <div class="panel-heading">Questionario GenoTest</div>
                <div class="panel-body" style="padding-left: 25px;">                    
                    <fieldset>
                        <legend>{{category.Name}}</legend>                                                
                            <ul ng-repeat="question in category.Questions">
                                <li>
                                    <p class="question">{{question.Text}}<a ng-show="question.IsRequired" style="color:Red;"> *</a> </p>                                    
                                        <div style="padding-left:10px;" ng-repeat="possibleAnswer in question.Anwers">
                                            <input type="checkbox" ng-show="question.QuestionType!=3" ng-model="possibleAnswer.SelectedAnswer" ng-change="uncheckOthersIfNecessary(question,possibleAnswer.Id)">
                                            {{possibleAnswer.Text}}
                                            <span ng-show="possibleAnswer.HasAdditionalInfo&&possibleAnswer.AdditionalInfoType==1">
                                                <input type="text" style="width:300px;"
                                                       ng-disabled="!possibleAnswer.SelectedAnswer"
                                                       ng-model="possibleAnswer.AdditionalInfo"
                                                       ng-model-options="{ updateOn: 'blur' }" />
                                            </span>
                                            <span ng-show="possibleAnswer.HasAdditionalInfo&&possibleAnswer.AdditionalInfoType==2">
                                                <input type="text" style="width:100px;"
                                                       ng-disabled="!possibleAnswer.SelectedAnswer"
                                                       ng-model="possibleAnswer.AdditionalInfo"
                                                       ng-model-options="{ updateOn: 'blur' }" />
                                                (da {{possibleAnswer.MinValueNumericAdditionalInfo}} a {{possibleAnswer.MaxValueNumericAdditionalInfo}})
                                            </span>
                                        </div>                                    
                                    <label style="color:Red;">{{question.ErrorText}}</label>
                                    <br />
                                </li>
                            </ul>
                        <input type="submit" ng-click="validateAnswers(category.Questions)" class="btn btn-primary btn-lg" value="Continua" />
                    </fieldset>
                </div>
            </div>
        </wz-step>        
        <wz-step ng-if="$index % TotStep == 0" ng-repeat-end title="">
            <div class="panel panel-default">
                <div class="panel-heading">Questionario GenoTest</div>
                <div class="panel-body" style="text-align: center;">
                    <div>
                        <h1>Il questionario è finito!</h1>
                        <p>Conferma i dati inseriti premento il pulsante Conferma</p>
                    </div>
                    <br />
                    <br />
                    <input type="submit" class="btn btn-primary btn-lg" ng-click="submit()" value="Conferma" />
                </div>
            </div>
        </wz-step>
    </wizard>
    <div ng-show="QuestionnaireFinished">
        <div class="jumbotron">
            <h1>Grazie {{PersonQuestionnaireResult.Person.FirstName}}!</h1>
            <p>Questo il risultato del suo test:</p>
        </div>
        <div ng-show="!PersonQuestionnaireCalculated">
            <img src="../../Content/themes/base/images/loading.gif" />
        </div>
        <div ng-show="PersonQuestionnaireCalculated">
            <p>
                Sei stato identificato come: <b>{{PersonQuestionnaireResult.Person.PersonType.Description}}</b> <br />
                Sulla base delle tue risposte vogliamo mostrarti i nostri prodotti con i nostri consigli
            </p>
            <br/>
            <!--<p><u><b>Le sue Risposte alle domande</b></u></p>
            <ul>
                <li ng-repeat="answer in PersonQuestionnaireResult.Answers">
                    {{answer.QuestionText}} : <b>{{answer.AnswerText}}</b> {{answer.AdditionalInfo}}
                </li>
            </ul>
            <br />-->
            <!--<p><u><b>I nostri test</b></u></p>-->
            <div class="panel panel-default" ng-repeat="result in PersonQuestionnaireResult.Results">
                <div class="panel-heading">
                    <h2 class="panel-title"><b>{{result.ProductName}}</b></h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{result.ProductShortDescription}}</p>
                            <span ng-show="result.Result<=3" title="punteggio: {{result.Result}}" class="label label-success">Non necessario</span>
                            <span ng-show="result.Result>=4 && result.Result<=6" title="punteggio: {{result.Result}}" class="label label-warning">Consigliato</span>
                            <span ng-show="result.Result>=7" title="punteggio: {{result.Result}}" class="label label-danger">Altamente consigliato</span>
                        </div>
                        <div class="col-md-6">
                            <a ng-href="{{result.ProductUrl}}" target="_blank"><button type="button" style="float:right" class="btn btn-primary btn-lg">Scoprilo subito!</button></a>
                        </div>
                    </div>                                                        
                </div>
            </div>                    
        </div>        
    </div>
    
</div>
<br /><br /><br /><br />

