@{
    ViewBag.Title = "Questionario per GenoTest";
}
<head>
    

</head>

<header class="header container_12">
    MyGenomics
</header>

<div id="bodyContainer" ng-app="MyGenomicsApp">    
    <div ng-view></div>    
</div>

<div class="clear"></div>

<footer class="container_12">
    
</footer>
