body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

#bodyContainer {
    text-align: center;
}

.green-circle {    
    background: green;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0;
    vertical-align: central;
}
.yellow-circle {    
    background: gold;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0;    
}
.red-circle {   
    background: red;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0;    
}
